<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:name=".CoriolanApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Coriolan.Theme">

		<activity
			android:name=".ui.StartActivity"
			android:noHistory="true"
			android:theme="@style/Coriolan.Theme.Splash">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.domains_list.DomainsListActivity" />

		<activity android:name=".ui.DomainActivity"
			android:parentActivityName=".ui.domains_list.DomainsListActivity"/>

		<activity
			android:name=".CardActivity"
			android:launchMode="singleTop"
			android:parentActivityName=".ui.DomainActivity"/>

		<activity
			android:name=".data.importer.file.EnterFilePathActivity"
			android:parentActivityName=".ui.DomainActivity"
			/>

		<activity
			android:name=".ui.settings.SettingsActivity"
			android:parentActivityName=".ui.DomainActivity"/>

		<activity
			android:name=".ui.AddEditCardActivity"
			android:parentActivityName=".ui.DomainActivity"
			/>

		<activity
			android:name=".ui.CreateDomainActivity"
			android:parentActivityName=".ui.domains_list.DomainsListActivity"/>

		<activity
			android:name=".ui.AddEditDeckActivity"
			android:parentActivityName=".ui.DomainActivity"
			android:theme="@style/Coriolan.Theme.Dialog"
			android:windowSoftInputMode="stateAlwaysVisible"
			/>

		<activity
			android:name=".data.backup.ui.BackupActivity"
			android:parentActivityName=".ui.DomainActivity"
			/>

		<activity
			android:name=".data.backup.ui.RestoreFromBackupActivity"
			android:parentActivityName=".ui.DomainActivity"
			/>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="ca462037f58b6b70d20cae63e6a564f0569ef551"
			/>
	</application>
</manifest>
