<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.ashalmawia.coriolan">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<application
		android:name=".CoriolanApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity android:name=".DecksListActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".CardActivity"
			android:parentActivityName=".DecksListActivity"
			android:launchMode="singleTop"/>

		<activity
			android:name=".data.importer.file.EnterFilePathActivity"
			/>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="ca462037f58b6b70d20cae63e6a564f0569ef551"
			/>
	</application>
</manifest>
