<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.ashalmawia.coriolan">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<application
		android:name=".CoriolanApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Coriolan.Theme">

		<activity
			android:name=".ui.StartActivity"
			android:noHistory="true"
			android:theme="@style/Coriolan.Theme.Splash">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.DomainActivity" />

		<activity
			android:name=".CardActivity"
			android:parentActivityName=".ui.DomainActivity"
			android:launchMode="singleTop"/>

		<activity
			android:name=".data.importer.file.EnterFilePathActivity"
			android:parentActivityName=".ui.DomainActivity"
			/>

		<activity
			android:name=".ui.AddEditCardActivity"
			android:parentActivityName=".ui.DomainActivity"
			/>

		<activity
			android:name=".ui.CreateDomainActivity"
			android:parentActivityName=".ui.DomainActivity"/>

		<activity
			android:name=".ui.CreateDeckActivity"
			android:parentActivityName=".ui.DomainActivity"
			android:theme="@style/Coriolan.Theme.Dialog"
			android:label="@string/edit__add_new_deck"/>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="ca462037f58b6b70d20cae63e6a564f0569ef551"
			/>
	</application>
</manifest>
